@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/nqj1arh.css");

:root {
  --yellow: #FFAB28;
  --orange: #EE540C;
  --purple: #6A4ADC;
  --blue: #515999;
  --gray: #909090;
}

body {
  font-family: "elza", sans-serif;
  line-height: normal;
}

p {
  font-size: 27px;
}

h1 {
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
}

h3 {
  color: var(--gray);
  font-size: 30px;
  font-weight: 300;
}