@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/nqj1arh.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --yellow: #FFAB28;
  --orange: #EE540C;
  --purple: #6A4ADC;
  --blue: #515999;
  --gray: #909090;
}

.orange {
  color: var(--orange);
}

body {
  /* font-family: elza, sans-serif; */
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: normal;
}

*::selection {
  background-color: var(--orange);
  color: #fff;
}

p {
  font-size: 27px;
  font-weight: 400;
  line-height: 40px;
}

strong {
  font-weight: 600;
}

h1 {
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
}

h2 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 10px;
}

h3 {
  color: var(--gray);
  font-size: 30px;
  font-weight: 300;
}

.part-2 {
  filter: drop-shadow(0px 4px 18px rgba(0, 0, 0, 0.35));
  padding: 114px 72px;
  border-radius: 46px;
}